@font-face{
    src: url(Fonts/Barlow-SemiBold.ttf);
    font-family: barlowSemiBold;
}

@font-face{
    src: url(Fonts/barlowsemicondensed-thin.otf);
    font-family: barlowSemiCondensedThin;
}

@font-face{
    src: url(Fonts/CanalesDemoRegular.ttf);
    font-family: canalesDemoRegular;
}

@font-face{
    src: url(Fonts/Montserrat-Black.ttf);
    font-family: montBlack;
}

@font-face{
    src: url(Fonts/Montserrat-Light.ttf);
    font-family: montLight;
}

:root{
    font-size: 14px;
    --primary-color: #062D1D;
    --secondary-color: #8080A0;
    --speed-transition: 800ms;
    --offset-navbar: 190px;
    --offset-navbar-mobile: 130px;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    max-width: 1366px !important;
    margin: 0 auto !important;
    overflow-x: hidden;
    font-family: poppinsRegular !important;
    background-color: white !important;
}

p{
    color: var(--primary-color);
}

.sumir{
    display: none;
}

header{
    z-index: 100;
    width: 100%;
    max-width: 1366px;
}

header nav .nav-list li a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

header nav .nav-list li a:hover{
    opacity: 0.7;
}

header nav .logo img{
    width: 150px !important;
}

header nav{
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0 70px;
    align-items: center;
    background: white;
    height: 180px;
    position: relative;
}

header nav .logo{
    width: 100%;
    height: 100%;
    margin: 0 150px 0 0 !important;
    padding: 0 !important;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

header nav .logo a img{
    width: 550px !important;
}

header nav .nav-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    width: 35%;
    height: 100%;
    padding: 0px 20px;
    justify-content: center;
    z-index: 5;
    text-align: right;
}

header nav .nav-list li{
    font-size: 1.3rem;
    font-family: montLight;
    border-right: solid;
    border-right-width: 30px;
    border-right-color: #50504F;
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
}

header nav .nav-list li a{
    color: black;
    margin-right: 15px;
    padding: 0 10px;

}

.active-navbar{
    border-right: solid;
    border-right-color: #50504F;
    border-right-width: 15px;
    margin-right: 0px !important;
}

header nav .mobile-menu{
    display: none;
    cursor: pointer;
}

header nav .mobile-menu div{
    width: 32px;
    height: 2px;
    background: var(--primary-color);
    margin: 8px;
    transition: 0.3s;
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left{
    -webkit-transform: translate3d(0,-100%, 0);
    transform: translate3d(0,-100%, 0);
}

.carousel-indicators li{
    width: 40px !important;
    height: 40px !important;
    padding: 0 !important;
    margin: 5px !important;
    background-color: white !important;
    opacity: 0.4;
    cursor: pointer;
    overflow: hidden;
}

.carousel-indicators .active{
    opacity: 1;
}

#top-carousel{
    width: 100% !important;
    z-index: 2;
}

.carousel-indicators{
    width: 50px;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-carousel .carousel-indicators{
    bottom: 0 !important;
    top: 50%;
    left: 96%;
    transform: translate(-50%, -50%);
}

.carousel-inner{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#top-carousel-info .carousel-inner{
    position: relative;
}

#top-carousel .carousel-inner .carousel-item{
    width: 100%;
    height: 650px;
    overflow: hidden;
}

#top-carousel .carousel-inner .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.title{
    color: var(--primary-color);
    width: 100%;
    height: 150px;
    padding: 0;
    font-size: 3.5rem;
    font-family: poppinsMedium;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    text-align: center;
}

.our-quarry{
    position: relative;
    width: 100%;
}

.our-quarry img{
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}

.our-quarry .bloco{
    display: none !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 60% !important;
    height: 100% !important;
    opacity: 0.5;
    display: flex;
    align-items: center;
    opacity: 0 !important;
}

.our-quarry .bloco img{
    width: 80%;
    margin: 0 auto;
    height: auto;
}

.our-quarry .info{
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our-quarry .info h1{
    font-family: canalesDemoRegular;
    font-size: 4em;
    margin: 0;
    width: 100%;
    margin-bottom: 100px;
}

.our-quarry .info p{
    text-align: right;
    font-family: montLight;
    padding-left: 40px;
    font-size: 1.3em;
    margin: 0;
    color: black;
}

.our-quarry .folha{
    position: absolute;
    width: 220px;
    bottom: 0;
    left: 0;
    height: auto;
}

.our-quarry .top-right-text{
    position: absolute;
    top: 20px;
    right: 0;
    margin: 0;
    height: 130px;
    width: 130px;
    text-align: right;
    transform: rotate(-90deg);
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
    color: transparent;
    background-image: url(Images/Quarry/ivory2.webp);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.our-quarry .bottom-center-text{
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 14em;
    transform: translate(-50%, 35%) !important;
    margin: 0;
    color: transparent;
    background-image: url(Images/Quarry/ivory.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.product{
    position: relative;
    width: 100%;
    z-index: -1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 50px 0;
    z-index: 1;
}

.product .fundo{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product .center-left-text{
    position: absolute;
    z-index: 5;
    left: 0;
    top: 50%;
    transform: translate(-25%, -50%) rotate(90deg);
    margin: 0;
    font-size: 7em;
    color: transparent;
    background-image: url(Images/Product/nome.webp);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.product .small-image{
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    left: 50px !important;
    width: 550px;
    height: 550px;
}

.product .small-image img{
    margin: 1.5% !important;
    width: 47%;
    height: 260px;
    object-fit: cover;
}

.product .banner{
    z-index: 1;
    height: 100% !important;
    width: 650px;
    display: flex;
}
.product .banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria{
    display: flex;
    flex-direction: row;
    height: 650px !important;
}

.galeria .banner{
    width: 100%;
    height: 100%;
    margin-right: 15px;
    cursor: pointer;
    overflow: hidden;
}

.galeria .banner img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.galeria .imagens{
    width: 160px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    overflow: hidden;
}

.galeria .imagens img{
    cursor: pointer;
    width: 100% !important;
    height: 100%;
    margin-bottom: 15px;
    object-fit: cover;
}

.galeria .imagens img:last-child{
    margin-bottom: 0;
}

.materiais{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.materiais .fundo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.materiais .titulo{
    width: 40%;
    margin: 50px;
}

.materiais .imagens{
    z-index: 5;
    display: flex;
    margin-bottom: 100px;
    width: 80%;
}

.materiais .imagens img{
    width: 100%;
}

.materiais .imagens .small{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    margin-right: 20px;
}

.materiais .imagens .big img.active-image{
    animation: openBigImage 0.5s forwards;
}

.materiais .imagens .small img.active-image{
    animation: openSmallImage 0.5s forwards;
}

@keyframes openSmallImage {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes openBigImage {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

footer{
    display: flex !important;
    justify-content: space-around;
    align-content: space-around;
    background-color: #50504F;
    height: 150px;
}

footer .logo{
    width: 400px;
}

footer .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

footer .empresa{
    width: 200px;
    object-fit: contain;
    padding: 30px 0;
}

@media only screen and (min-width: 576px) and (max-width: 800px)
{

}

@media (max-width: 991px){

    header nav .mobile-menu{
        display: none;
        cursor: pointer;
    }

    header nav .mobile-menu div{
        width: 32px;
        height: 2px;
        background: red !important;
        margin: 8px;
        transition: 0.3s;
        z-index: 10;
        background-color: white !important;
    }

    .title{
        height: 100px;
    }

    header nav{
        padding: 0 10px 0 15px;
        height: 70px;
    }

    header nav .logo{
        width: 180px !important;
        display: flex;
        margin-right: 0 !important;
        align-items: center;
    }

    header nav .logo a img{
        width: 100% !important;
    }

    header nav .nav-list{
        position: absolute;
        top: 70px;
        right: 0;
        width: 300px;
        height: 250px;
        padding: 0 !Important;
        background: white;
        z-index: 100;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    header nav .nav-list li{
        margin-left: 0;
        opacity: 0;
        border-right: none;
        margin-right: 0;
    }

    header nav .nav-list li a{
        color: black !important;
        margin-right: 0px;
    }

    .active-navbar{
        border-right: none;
        margin-right: 0;
    }

    header nav .mobile-menu{
        display: block;
        background-color: #50504F;
        border-radius: 15%;
    }

    header nav .mobile-menu.active .line1{
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    header nav .mobile-menu.active .line2{
        opacity: 0;
    }

    header nav .mobile-menu.active .line3{
        transform: rotate(45deg) translate(-5px, -7px);
    }

    header nav .nav-list.active{
        transform: translateX(0);
    }

    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
}

@media only screen and (max-width: 575px){

}

@media only screen and (max-width: 767px)
{
    .title{
        font-size: 2.5rem;
    }

    .carousel-indicators li{
        width: 30px !important;
        height: 30px !important;
        margin: 5px !important;
        margin-right: 30px !important;
    }

    .carousel-indicators{
        width: 30px;
        height: 100%;
        margin-right: 10px !important;
        right: 10 !important;
    }

    .carousel-inner .carousel-item{
        width: 100% !important;
        height: 300px !important;
    }

    .our-quarry img{
        height: 400px;
        object-position: left;
    }

    .our-quarry .info{
        width: 100%;
        padding: 0 !important;
        background-color: rgba(255,255,255,0.6);
    }

    .our-quarry .info h1{
        font-size: 2em;
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
    }

    .our-quarry .info p{
        text-align: center;
        padding: 0 15px;
        font-size: 0.85em;
    }

    .our-quarry .folha{
        display: none;
    }

    .our-quarry .top-right-text{
        height: 50px;
        width: 50px;
    }

    .our-quarry .bottom-center-text{
        font-size: 4em;
        transform: translate(-50%, 15%) !important;
    }


    .product{
        height: 300px !important;
    }

    .product .center-left-text{
        font-size: 2em;
        color: transparent;
        background-image: url(Images/Product/nome.webp);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .product .small-image{
        display: flex;
        align-items: center;
        position: absolute;
        height: 80%;
        width: 240px !important;
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%);
    }

    .product .small-image img{
        margin: 1% !important;
        width: 48%;
        height: 48%;
    }

    .product .banner{
        z-index: 1;
        height: 100% !important;
        width: auto !important;
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 40px) !important;
        height: 100%;
    }

    .galeria{
        height: 350px !important;
    }

    .galeria .banner{
        margin-right: 10px;
    }

    .galeria .imagens{
        width: 80px !important;
    }

    .galeria .imagens img{
        margin-bottom: 10px;
    }

    .materiais .imagens{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 0;
    }

    .materiais .titulo{
        width: 200px;
        margin: 20px;
    }

    .materiais .imagens img{
        width: 100%;
    }

    .materiais .imagens .small{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px 0 !important;
    }

    .materiais .imagens .small img{
        width: 80px;
        margin: 5px 5px !important;
    }


    .materiais .folha{
        display: none;
    }

    footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 250px;
    }

    footer .logo{
        width: 200px;
    }

    footer .logo img{
        padding: 0 !important;
        margin: 0 !important;
    }

    footer img{
        padding: 20px 50px !important;
        margin: 0 !important;
    }


}

@media only screen and (min-width: 576px) and (max-width: 767px)
{
    .carousel-inner .carousel-item{
        height: 450px !important;
    }

    .our-quarry .info h1{
        font-size: 3em;
        margin-bottom: 25px;
    }

    .our-quarry .info p{
        text-align: center;
        padding: 0 20px;
        font-size: 1.1em;
    }

    .our-quarry .folha{
        display: block;
        width: 70px
    }

    .our-quarry .top-right-text{
        height: 100px;
        width: 100px;
        top: 10px;
    }

    .our-quarry .bottom-center-text{
        font-size: 5.5em;
        transform: translate(-50%, 25%) !important;
    }


    .product{
        height: 300px !important;
    }

    .product .center-left-text{
        position: absolute;
        z-index: 5;
        left: 0;
        top: 50%;
        transform: translate(-35%, -50%) rotate(90deg);
        font-size: 2em;
    }

    .product .small-image{
        display: flex;
        align-items: center;
        position: absolute;
        height: 80%;
        width: 240px !important;
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%);
    }

    .product .small-image img{
        margin: 1% !important;
        width: 48%;
        height: 48%;
    }

    .product .banner{
        z-index: 1;
        height: 100% !important;
        width: auto !important;
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 40px) !important;
        height: 100%;
    }

    .galeria{
        height: 450px !important;
    }

    .galeria .banner{
        margin-right: 10px;
    }

    .galeria .imagens{
        width: 120px !important;
    }

    .galeria .imagens img{
        margin-bottom: 10px;
    }

    .materiais{
        height: auto !important;
    }

    .materiais .topbar .titulo{
        margin-top: 20px;
    }

    .materiais .topbar .titulo h1{
        font-size: 2em;
    }

    .materiais .topbar .titulo h2{
        font-size: 1.5em;
    }

    .materiais .topbar .menu{
        justify-content: center;
        flex-wrap: wrap;
        font-size: 1.2em;
        margin: 10px 0;
    }

    .materiais .topbar .menu p{
        text-align: center;
        padding: 5px 10px;
    }

    .materiais .topbar .menu p{
        margin: 0 10px;
    }

    .materiais .imagens{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 0;
    }

    .materiais .imagens img{
        width: 100%;
    }

    .materiais .imagens .small{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }

    .materiais .imagens .small img{
        width: 100px;
        margin: 5px 5px;
    }


    .materiais .folha{
        display: none;
    }

    footer{
        flex-direction: row;
        height: 150px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px){

    header nav{
        padding: 0 20px 0 30px;
        height: 100px;
    }

    header nav .logo{
        width: 250px !important;
    }


    header nav .nav-list{
        top: 100px;
    }

    .carousel-indicators li{
        width: 40px !important;
        height: 40px !important;
        margin: 8px !important;
        margin-right: 30px !important;
    }

    .carousel-indicators{
        width: 40px;
        height: 100%;
    }

    .carousel-inner .carousel-item{
        height: 550px !important;
    }

    .our-quarry img{
        height: 500px;
    }

    .our-quarry .info{
        width: 40%;
        padding: 0 !important;
    }

    .our-quarry .info h1{
        font-size: 2.5em;
        text-align: center;
        margin-bottom: 30px;
    }

    .our-quarry .info p{
        padding: 0 25px 0 10px;
        font-size: 1em;
    }

    .our-quarry .folha{
        width: 100px;
    }

    .our-quarry .top-right-text{
        height: 100px;
        width: 100px;
    }

    .our-quarry .bottom-center-text{
        font-size: 9em;
        transform: translate(-50%, 30%) !important;
        z-index: 5;
    }


    .product{
        height: 450px !important;
    }

    .product .center-left-text{
        transform: translate(-25%, -50%) rotate(90deg);
        font-size: 4.5em;
    }

    .product .small-image{
        display: flex;
        align-items: center;
        position: absolute;
        height: 80%;
        width: 340px !important;
        left: 30% !important;
        top: 50% !important;
        transform: translate(-50%, -50%);
    }

    .product .small-image img{
        margin: 1% !important;
        width: 48%;
        height: 48%;
    }

    .product .banner{
        z-index: 1;
        background-color: greenyellow;
        height: 90% !important;
        width: auto !important;
        display: flex;
        position: absolute;
        right: 0;
        width: 55% !important;
        height: 100%;
    }

    .galeria{
        height: 450px;
    }

    .galeria .banner{
        margin-right: 10px;
    }

    .galeria .imagens{
        width: 180px;
    }

    .galeria .imagens img{
        margin-bottom: 10px;
    }

    .materiais .imagens{
        height: 350px;
    }

    .materiais .imagens .small{
        display: flex;
        flex-direction: column;
        align-items: ;
        justify-content: center;
        margin: 0px 5px;
    }

    .materiais .imagens .small img{
        width: 170px;
        margin: 5px 5px;
    }

    .materiais .imagens .big{
        width: 100%;
        height: 100% !important;
    }

    .materiais .imagens .big img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    footer{
        display: flex;
        align-items: center;
    }

    footer .logo img{
        padding: 0 !important;
        margin: 0 !important;
    }

    footer img{
        padding: 20px 30px !important;
        margin: 0 !important;
    }

}

@media only screen and (min-width: 991px) and (max-width: 1200px){

    header nav .logo{
        width: 100%;
        height: 100%;
        margin: 0 50px 0 0 !important;
        padding: 0 !important;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    header nav .logo a img{
        width: 550px !important;
    }
}
